* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

body {
    background: hsl(210, 46%, 95%);
}

.container {
    position: relative;
    max-width: 1440px;
    height: 97vh;
    margin: 0 auto;
}

.card {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 730px;
    width: 100%;
    height: 280px;
    border-radius: 10px;
    background-color: #fff;
    &__left-side {
        width: 285px;
        height: inherit;
        background: url('../img/drawers.jpg') center no-repeat;
        background-size: cover;
        background-position: 0;
        border-radius: 10px 0 0 10px;
    }
    &__right-side {
        padding: 0 40px;
        max-width: 445px;
        width: 100%;
        margin-top: 40px;
    }
    &__text {
        color: hsl(214, 17%, 51%);
        line-height: 22px;
        &_big {
            color: hsl(217, 19%, 35%);
            line-height: 27px;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }
    &__img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    &__author {
        display: flex;
        align-items: center;
    }
    &__name {
        color: hsl(217, 19%, 35%);
        font-weight: 700;
        margin-left: 15px;
    }
    &__date {
        color: hsl(212, 23%, 69%);
        margin-top: 2px;
    }
    &__contacts {
        position: relative;
    }
    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: hsl(214, 17%, 51%);
        border-radius: 100%;
        cursor: pointer;
    }
    &__contacts-wrap {
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        width: 250px; 
        height: 55px;
        top: -75px;
        left: -131px;
        margin-left: 26px;
        background: hsl(217, 19%, 35%);
        border-radius: 10px;
        &::before {
            content: "";
            width: 0; 
            height: 0;
            position: absolute; 
            right: 50%; 
            transform: translateX(50%);
            bottom: -10px;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 12px solid hsl(217, 19%, 35%)
        }
        a {
            margin-left: 20px;
        }
        &_active {
            display: flex;
        }
    }
    &__share {
        text-transform: uppercase;
        color: hsl(212, 23%, 69%);
    }
}